.highlight {
    font-weight: bold;
    color: red;
}

#reportlanguage{
	width: 48px;
	height: 25px;
	padding-top: 5px;
}

.languagebox{
	width: 50px;
	height: 25px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.uilistinginfo{
	border: 1px solid red;
	width: 147px;
	padding: 2px 5px;
	position: absolute;
	top: 0px;
	left: 770px;
}

.inputbox{
	width: 120px;
}

.bottomline{
	border-bottom: 1px dotted lightblue;
	padding-bottom: 2px;
	margin-bottom: 2px;
}