.highlight {
    font-weight: bold;
    color: red;
}

#reportlanguage{
	width: 48px;
	height: 25px;
	padding-top: 5px;
}

.languagebox{
	width: 50px;
	height: 25px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}